<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<context:component-scan base-package="dao,service,servlet,transaction"/>
	
	<!--切面的对象 -->
	<bean id="txAspect" class="aspect.TxAspect"></bean>
	
	<aop:config>
		<!--定义切入点within(包名.类名) service包下所有的类 -->
		<aop:pointcut expression="within(service..*)" id="pc"/>
	
	    <!--配置切面  TxAspect类 -->
		<aop:aspect ref="txAspect">
			<!--配置通知   method 方法名称  -->
			<aop:around method="around" pointcut-ref="pc"/>
			<!-- <aop:after-returning method="afterReturn" pointcut-ref="pc"/> -->
			<!-- <aop:after-throwing method="afterThrow" pointcut-ref="pc"/> -->
			<!-- <aop:after method="after" pointcut-ref="pc"/> -->
		</aop:aspect>
	</aop:config>
	
	
	
	
	
	
	
	
	
	
	
	
</beans>